# Ensure the dynamic library is loaded. Replace 'prismaid' with your package's actual name.
useDynLib(prismaid)

# Optionally enable registration.
useDynLib(prismaid, .registration=TRUE)

# Export any R functions you want to be available to end-users.
export(RunReview)
