// put this in your .vscode folder, remove the .template extension, add the API key, and remove this line -- excute with ctrl+shift+B
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch Program",
            "type": "go",
            "request": "launch",
            "mode": "auto",
            "program": "${fileDirname}",
            "env": {
                "OPENAI_API_KEY": "PUT_THE_API_KEY_HERE" 
            },
            "args": ["--project", "../projects/test.toml"], // Relative path to the project config
            "console": "integratedTerminal"
        }
    ]
}
