/* assets/css/styles.css */
.form-group {
    margin-bottom: 15px; /* Adds space between form groups */
}

.description {
    margin: 0;
    font-style: italic;
    color: #666; /* Lighter color for descriptions */
}

.form-label {
    display: inline-block;
    width: 200px; /* Fixed width for labels to align inputs */
    font-weight: bold; /* Makes the labels stand out */
}

.form-input {
    width: 400px; /* Adjust the width of the input fields as needed */
    padding: 5px;
    border: 1px solid #ccc; /* Light border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
}

.form-long-input {
    width: 800px; /* Adjust the width of the input fields as needed */
    padding: 5px;
    border: 1px solid #ccc; /* Light border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
}

.form-heading {
    font-size: 1.1em; /* Adjust heading size as needed */
    margin-bottom: 10px;
}