/* assets/css/styles.css */
.form-group {
    margin-bottom: 15px; /* Adds space between form groups */
}

.description {
    margin: 0;
    font-style: italic;
    color: #666; 
}

.form-label {
    display: inline-block;
    width: 200px; 
    font-weight: bold; 
}

.form-input {
    width: 400px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.form-long-input {
    width: 800px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-heading {
    font-size: 1.1em; 
    margin-bottom: 10px;
}

.wide-textarea {
    width: 800px;
    height: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@keyframes blinker {
    50% { opacity: 0; }
}
  
.blink {
animation: blinker 1s linear infinite;
}
  